// Import our variables overrides. 
// Go here to set custom values for Bootstrap vars
// Custom variables have to be set before the built in are set, because
// bootstrap uses the first variable set
@import '../abstracts/variables';

@import './bootstrap.scss';



/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.styled-table {
    align:center;
    width: 50%;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    /*margin: 25px 0;*/
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #537fbe; /*#009879  #537fbe   #2e944b*/
    color: #ffffff;
    text-align: right;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: right;
}

h3 {
    border-top: 2px solid #1375b0;
    width: 100%;
    float: none;
    display: flex;
  }

.form-container{
    width:30%;
}



/* @import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
:root {
    --bs-body-font-family: "Supermercado One", sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bs-body-font-family: "Poppins", sans-serif;
} 



