{% extends "layout.html" %}

{% block title %}
    Input Stock Symbol and Quantity to Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol to Buy" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Quantity of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy Stock</button>
    </form>
{% endblock %}
