{% extends "layout.html" %}

{% block title %}
    Transaction Overview
{% endblock %}

{% block main %}
    <!-- <p><h3>Stock Name: {{Stock}}</h3></p>
    <p><h4>Price: {{Price}}</h4></p>
    <p><h4>Symbol: {{Symbol}}</h4></p> -->
    <!-- align="center"-->

    <div class="section">
        <p>
            <h3>Transaction Overview Buy/Sell: </h3>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Buy/Sell</th>
                        <th>Stock</th>
                        <th>Price $</th>
                        <th>Quantiy</th>
                        <th>date</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                     {% for tran in list %}
                        <tr>
                            <td> {{tran.action}}</td>
                            <td> ({{tran.stock}}) </td>
                            <td> {{tran.price}} </td>
                            <td> {{tran.quantity}} </td>
                            <td> {{tran.date}} </td>
                        </tr>
                     {% endfor %}
                </tbody>
            </table>
        </p>
    </div>

{% endblock %}
