{% extends "layout_ETF.html" %}

{% block title %}
    Position Overview
{% endblock %}

{% block main %}
    <!-- <p><h3>Stock Name: {{Stock}}</h3></p>
    <p><h4>Price: {{Price}}</h4></p>
    <p><h4>Symbol: {{Symbol}}</h4></p> -->
    <!-- align="center"-->

    <div class="section">
        <p>
            <h3> Baseline Postion / Current Position: </h3>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Stock/FixedIncome</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Value</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                     {% for stock in list %}
                        <tr>
                            <td> {{stock.Stock}}</td>
                            <td> ({{stock.Quantity}}) </td>
                            <td> {{stock.Curr_Price}} </td>
                            <td> {{stock.Total_Value}} </td>
                        </tr>
                     {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
{% endblock %}