{% extends "layout_ETF.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<p class="h5 mb-3">Register with your Username and Password and Select Your Risk Type</p>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="risk_type">
                <option selected>Choose Your Risk Type</option> 
                <option value="risk_averse">Risk Averse</option>
                <option value="balanced">Balanced</option>
                <option value="risk_seeking">Risk Seeking</option>
            </select>
            <!-- <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="risk_type" placeholder="risk_seeking" type="text"> -->
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}

